<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Store</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Books</h1>
    <ul>
      <!-- We'll use Jinja's `for` loop to iterate over all books -->
      {% for book in books %}
        <li>
          <!-- We can use {{ placeholders }} in HTML attributes too -->
          <a href="/books/{{book.id}}">{{book.title}} by {{book.author_name}}</a>
        </li>
      {% endfor %}
      <!-- Jinja isn't Python, so we need an endfor to close the loop -->
    </ul>

    <!-- This is a link to another page. -->
    <!-- The browser will send `GET /books/new` when the user clicks this -->
    <a href="/books/new">Add a new book</a>
  </body>
</html>
