<!DOCTYPE html>
<html lang="en">
    <head>
        <title>List a space</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>List a space</h1>
        <form action="/spaces" method="post">
        <p>
            <label for="name">Name</label>
        </p>
        <p>
            <input type="text" name="name" id="name">
        </p>
        <p>
            <label for="description">Description</label>
        </p>
        <p>
            <input type="text" name="description" id="description">
        </p>
        <p>
            <label for="price">Price per night (£)</label>
        </p>
        <p>
            <input type="text" name="price" id="price">
        </p>
        <p>
            <input type="submit" value="List my space">
        </p>
        </form>
    </body>
</html>