<!DOCTYPE html>

<html lang="en" data-bs-theme="light" data-arp-injected="true">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <style>
        .b-example-divider {
            width: 100%;
            height: 1rem;
            background-color: rgba(0, 0, 255, 0.1);
            border: solid rgba(0, 0, 0, 0.15);
            border-width: 1px 0;
            box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
                inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
        }
    </style>
</head>

<body>
    <!-- Header of page -->
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/spaces"><img src="{{ url_for('static', filename='makersbnb_logo.svg') }}" width="100"
                        height="40" /></a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="/spaces" class="nav-link px-2 link-secondary">Spaces</a>
                </li>
                <li><a href="#" class="nav-link px-2">Requests</a></li>
            </ul>
            {% if not logged_in %}
            <div class="col-md-3 text-end">
                <a href="/login"><button type="button" class="btn btn-outline-primary me-2">
                        Login
                    </button></a>
                <a href="/signup"><button type="button" class="btn btn-primary">
                        Sign-up
                    </button></a>
            </div>
            {% else %}
            <div class="nav col-md-3 justify-content-end">
                <a class="nav-link px-2 link-secondary">Hey {{ user.username }}!</a>
                <a href="/logout"><button type="button" class="btn btn-outline-primary me-2">
                        Logout
                    </button></a>
            </div>
            {% endif %}
        </header>
    </div>
    <!--  -->

    <div class="b-example-divider"></div>

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='makersbnb_icon.svg') }}" alt="" width="75"
            height="75" />
        <h1 class="display-5 fw-bold text-body-emphasis">Book a Space</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Book from any one of the beautiful spaces listed below. Or
                feel free to list your own space for others to rent.
            </p>
            {% if not logged_in %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/signup"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                        List a space
                    </button></a>
            </div>
            {% else %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/spaces/new"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                        List a space
                    </button></a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="b-example-divider"></div>

    <!-- row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg -->

    <div class="flex-column flex-md-row p-5 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group">
            {% for space in spaces %}
            <a href="/spaces/{{space.id}}" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0 t-space-name">{{ space.name }}</h6>
                        <p class="mb-0 opacity-75 t-space-description">
                            {{ space.description }}
                        </p>
                    </div>
                    <small class="opacity-50 text-nowrap t-space-price">£{{ space.price }}/ night</small>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>