<!doctype html>
<html lang="en">
  <head>
    <title>Add new user</title>
    <meta charset="utf-8" />
  </head>
  <body>
    {% if errors %}
    <div class="“error”" style="color: red">{{errors}}</div>
    <br /><br />
    {% endif %}
    <form action="/login" method="POST">
      <label for="user">Username / Email</label><br />
      <input type="text" name="user" id="user" required />
      <br /><br />
      <label for="password">Password</label><br />
      <input type="password" name="password" id="password" required />
      <br /><br />
      <input type="submit" value="Sign Up" />
    </form>
    <br /><br />
    <br /><br />
    <a href="/signup">Not a user? Sign up here</a>
  </body>
</html>
