<!doctype html>
<html lang="en">
  <head>
    <title>Add new user</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <form action="/add_user" method="POST">
      <label for="username">Username</label><br />
      <input type="text" name="username" id="username" required/>
      <br /><br />
      <label for="email">Email</label><br />
      <input type="text" name="email" id="email" required/>
      <br /><br />
      <label for="password">Password</label><br />
      <input type="password" name="password" id="password" required/>
      <br /><br />
      <label for="password">Confirm Password</label><br />
      <input type="password" name="confirm_password" id="confirm_password" required/>
      <br /><br />
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
